@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Tangerine:wght@400;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.02em;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
.text-end{
    text-align: right;
}
a {
    text-decoration: none;
    color: inherit;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    line-height: 1;
    background-image: repeating-linear-gradient(to left, #eeeeee, #eeeeee 1px, transparent 1px, transparent 100%);
    background-size: calc(100% / 6);
    background-color: #EEDAD1;
    color: #000;
    animation: bg-change-color 25s infinite ease-in-out;
}

@keyframes bg-change-color {
    0% {
        background-color: #EEDAD1;


    }

    20% {
        background-color: #e1eed1;

    }

    40% {
        background-color: #d1eeea;

    }

    60% {
        background-color: #d3d1ee;

    }

    80% {
        background-color: #eed1e4;

    }

    100% {
        background-color: #EEDAD1;

    }
}


.d-flex {
    display: flex;
}

::selection {
    color: #000;
    background: #ffc83d;
}

/* banner */
h1 {
    margin: 0;
    font-size: 3vw;
    text-transform: uppercase;
}

h1 .big-words {
    font-size: 12vw;
    line-height: 0.5;
}

.ml7 {
    position: relative;
}

.ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 0.6;
}


h3 {
    font-size: 1.2vw;
    line-height: 1.4;
    color: rgb(0, 0, 0);
}

p.lead {
    font-size: 1.5em;
}

span.icon {
    display: inline-block;
    margin: 0;
    padding: 40px 0;
    font-size: 6em;
}

.wrapper {
    padding: 40px;
}

.placeholder {
    width: 100%;
    height: 600px;
    margin: 40px 0;
    background: #e7d0ca;
}

.banner {
    width: 100%;
    min-height: 80vh;
    padding-top: 24vh;
    position: relative;
    overflow: hidden;
}

.vec-img-01 {
    position: absolute;
    display: inline-block;
    top: 13vh;
    left: -9vw;
    width: 15vw;
    animation: rotate 8s ease-in-out infinite;
}

.vec-img-02 {
    width: 20vw;
    position: absolute;
    display: inline-block;
    top: 0vh;
    right: -12vw;
    /* transform: rotate(-60deg); */
    animation: rotate 12s ease-in-out infinite;
}

.vec-img-03 {
    width: 8vw;
    position: absolute;
    display: inline-block;
    bottom: 18vw;
    right: 16vw;
    animation: rotate 16s ease-in-out infinite;
}

.vec-img-04 {
    width: 10vw;
    position: absolute;
    display: inline-block;
    bottom: 8vw;
    left: 24vw;
    animation: rotate 4s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 0;
    }

    50% {
        transform-origin: left bottom;
        opacity: 1;
        transform: rotate(22deg);
    }

    100% {
        transform-origin: left bottom;
        opacity: 0;
        transform: rotate(0deg);
    }
}

.banner .text {
    text-align: center;
}

.banner2 {
    width: 100%;
    min-height: 150vh;
    background-color: #000;
    padding: 24vh 0;
    overflow: hidden;
    /* border-radius: 300em/20em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}

/* header {
    background-color: #ffdfbbb7;
    backdrop-filter: blur(5px);
    color: #000;
    text-align: center;
    font-size: 24px;
    top: 0;
    position:relative;
    z-index:80;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.welcome {
    margin: 80px 0;
    text-align: left;
    padding: 0 8vw;
}

.scroll-down {
    text-align: center;
    display: inline-block;
    margin-top: 12vh;
}

.scroll-down p,
.scroll-down h2 {
    font-size: 3vw;
    font-family: 'Tangerine', cursive;
    position: relative;
}

.scroll-down h2::before {
    content: '';
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 12vh;
    background-color: #383E56;
}

.scroll-down img {
    width: 35vw;
    max-width: 100%;
}

.social-bar ul li {
    display: inline-block;
}

/* 作品 */

header {
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 8vw;
    top: 0;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}


.works-item {
    display: flex;
    align-items: center;
    justify-content: center;

}

.works:hover .img-inner {
    transform: rotate(3deg);
}

.works:nth-child(even):hover .img-inner {
    transform: rotate(-3deg);
}

.works-text {
    font-size: 2vw;
    color: #fff;
    padding: 24px;
    letter-spacing: 0.1rem;
}

.works-text span {
    font-size: 1.2vw;
}

.work-img {
    width: 50vw;
}

.img-inner {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    padding-bottom: 62.25%;
    transition: 1s ease-in-out;
}

.img-inner>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.work-btn {
    display: block;
    margin-top: 2vh;
}

.work-btn a {
    background-color: #000;
    display: inline-block;
    color: #fff;
    padding: 1.2vh;
    font-size: 1.2vw;
    transition: 0.3s ease-in-out;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.work-btn a:hover {
    background-color: #ffc83d;
    color: #000;
}

/* 常駐項 */
.perm-item {
    position: fixed;
    left: 2.5%;
    bottom: 3%;
    z-index: 10000;
}

.perm-item ul li {
    margin: 4px 0;
}

.perm-item ul li a {
    position: relative;
    display: inline-block;
    background-color: #000;
    border: 1px solid #fff;
    transition: .5s all;
    padding: 0 8px;
}

.perm-item ul li a span {
    position: relative;
    font-size: 1.6vw;
    font-weight: 800;
    display: inline-block;
    line-height: 1.4;
    color: #fff;
    transition: .5s all;
    z-index: 10;
}

.perm-item ul li a:hover {
    padding: 0 16px;
}

.perm-item ul li a:hover>span {
    position: relative;
    color: #000;
    z-index: 1000000;
}

.perm-item ul li>a::after {
    content: '';
    position: absolute;
    background-color: #ffc83d;
    left: 0;
    width: 0;
    height: 100%;
    top: 0;
    transition: .5s all;
    opacity: 0;
    z-index: 0;
    
}

.perm-item ul>li>a:hover::after {
    opacity: 1;
    width: 100%;
}

.copyright {
    position: fixed;
    right: 2.5%;
    bottom: 4%;
    z-index: 10000;
}

.copyright span {
    font-size: 1.6vw;
    border: 1px solid #fff;
    background-color: #000;
    display: inline-block;
    padding: 0 8px;
    line-height: 1.4;
    color: #fff;
    font-family: 'Tangerine', cursive;
}

/* footer */
footer {
    background-color: #56514a;
}

.footer-img {
    width: 50%;
    display: inline-block;
    overflow: hidden;
    height: 60vh;
}

.footer-title {
    display: inline-block;
    width: 50%;
    margin: 0 4vw;
}

.footer-title header {
    text-align: left;
    justify-content: flex-start;
    font-size: 3vw;
    font-weight: 800;
}

.footer.d-flex {
    align-items: center;
    justify-content: space-evenly;
}

.footer .header-titles span {
    color: #fff;
}

.footer-info img {
    display: inline-block;
    width: 8vw;
}

.footer-info span {
    display: inline-block;
}

.footer-info li {
    font-size: 1.2vw;
    margin: 2vh 0;
    color: #fff;
}


.section-2 {
    height: calc(320vh + 36px + 36px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: 40% 65%;
}
.section-2  blockquote {
    font-size: 7vw;
    line-height: 1.2;
    padding: 36px;
}
.section-2  blockquote cite {
    display: block;
    font-size: 2vw;
    margin-top: 36px;
}
.section-2 .images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-2 .images-container img {
    width: 100%;
    height: 100%;
    align-self: stretch;
    object-fit: cover;
}



@media screen and (max-width: 1440px) {
    header{
        margin-top: 24px;
    }
}
@media screen and (min-width: 768px) {
    .mobile{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .web{
        display: none;
    }
    .works-title{
        display: inline-block;
    }
    h1 {
        font-size: 11vw;
    }

    h1 .big-words {
        font-size: 27vw;
        line-height: 0.8;
    }

    h3 {
        font-size: 5vw;
        line-height: 1.4;
        color: rgb(0, 0, 0);
    }

    .work-img {
        width: 100vw;
    }

    .works-item {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .works:nth-child(odd) .works-item {
        flex-direction: column;
    }

    .banner {
        padding-top: 10vh;
    }

    .banner2 {
        padding: 16vh 0;
    }

    header {
        font-size: 22vw;
    }

    .works {
        margin: 12vh 0;
    }

    .works-text {
        font-size: 8vw;
    }

    .copyright span {
        font-size: 6.6vw;
    }

    .copyright {
        bottom: 1.5%;
        right: initial;
        left: 2.5%;
    }

    .perm-item {
        right: 2.5%;
        bottom: 1.5%;
        left: initial;
        text-align: right;
    }

    .perm-item ul li {
        margin: 0;
    }

    .perm-item ul li a span {
        font-size: 6.5vw;
    }

    .scroll-down p,
    .scroll-down h2 {
        font-size: 11vw;
    }

    .scroll-down {
        margin: 6vh 0 12vh;
    }

    .vec-img-01 {
        width: 50vw;
        top: -13vh;
        left: -18vw;

    }

    .vec-img-02 {
        width: 50vw;
        top: -7vh;
        right: -18vw;
    }

    .vec-img-03 {
        width: 50vw;
        bottom: -4vw;
        right: -21vw;
    }

    .vec-img-04 {
        width: 50vw;
        bottom: 34vw;
        left: -24vw;
    }
    .work-btn a {
        font-size: 4vw;
    }
    .works-text span {
        font-size: 5vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer-img {
        width: 100%;
        height: 40vh;
    }
    .footer-title header {
        font-size: 8vw;
        padding: 0 4vw;
    }
    .footer-title {
        width: 100%;
        margin: 4vh 0;
    }
    .footer-info li {
        font-size: 5vw;
        margin: 2vh;
    }
    .footer-info img {
        display: inline-block;
        width: 31vw;
    }
    body {
        background-size: calc(100% / 4);
    }
    .footer-img img{
        width: 140%;
    }
}